
<header>
    <div class="wrapper clearfix">
        <div id="logo"><a href="#">STRIPES <span class="color"> */ </span></a>
        </div>
        <nav>
            <div class="wrapper clearfix">
                <ul>
                    <li id="home"><a href="#">Home</a></li>
                    <div class="break"><a>/</a></div>
                    <li><a href="#">About</a></li>
                    <div class="break"><a>/</a></div>
                    <li id="references"><a href="#">References</a></li>
                    <div class="break"><a>/</a></div>
                    <li><a href="#">Blog</a></li>
                    <div class="break"><a>/</a></div>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>




<div id="content">
    <div class="wrapper clearfix">
        <div id="video">
            <iframe src="http://www.youtube.com/embed/xVVjzSibw-A" frameborder="0" allowfullscreen></iframe>                
        </div>

        <div id="info">
            <div id="canuser">
                <p class="color">Can User Experience Be Beautiful? An Analysis Of Navigation In Portfolio Websites </p>
            </div>

            <div id="thisis">
                <p>This is a different take on Responsive Web design. elephant in the room; that is, how we can rely on media queries and <a class="color" href="#">breakpoints</a> without any concern for devices.</p>
            </div>

            <div id="lets">
                <p>Let’s start our journey by looking at the online tools such as Responsive Design Testing, Responsive is Responsinator and BriCSS. </p>
                <p id="lastp">This article discusses how we can better.</p>
                <a class="more" href="#"><div>more &raquo;</div></a>
            </div>
        </div>
    </div>
</div>
     <div class="wrapper clearfix">
        <div class="plans">
            <p><img src="/images/pie.png" /></p>
            <a> Marketing <span class="color"> Plans </span> </a>
            <p> Lorem ipsum dolor sit amet, consectuer adipiscing elit. Aenean commodo. </p>
            <div class="more" href="#"><div><a href="#">more &raquo;</a></div></div>
        </div>

        <div class="plans">
            <p><img src="/images/lab.png" /></p>
            <a> Creation <span class="color"> Lab </span> </a>
            <p> Lorem ipsum dolor sit amet, consectuer adipiscing elit. Aenean commodo. </p>
            <div class="more" href="#"><div><a href="#">more &raquo;</a></div></div>
        </div>

        <div class="plans">
            <p><img src="/images/code.png" /></p>
            <a> Responsive <span class="color"> Web </span> </a>
            <p> Lorem ipsum dolor sit amet, consectuer adipiscing elit. Aenean commodo. </p>
            <div class="more"><div><a href="#">more &raquo;</div></a></div>
            </div>
        </div>
    </div>



<footer>
        <ul>
            <li><a href="#"><img src="/images/rss.png" /></a></li>
            <li><a href="#"><img src="/images/facebook.png" /></a></li>
            <li><a href="#"><img src="/images/twitter.png" /></a></li>
        </ul>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/front/try/js/vendor/jquery-1.8.0.min.js"><\/script>')</script>

<script src="/front/try/js/main.js"></script>

<script>
    var _gaq=[['_setAccount','UA-11028046-9'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>